{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": -33.716028,
    "longitude": 151.13792,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Clark Family",
    "time_zone": "Australia/Sydney",
    "external_url": null,
    "internal_url": null,
    "currency": "AUD",
    "country": "AU",
    "language": "en"
  }
}